<!-- <h1>Bar Chart</h1>
<app-bar-chart [data]=”data | async”></app-bar-chart> -->

<!-- 
<div id ="chart"></div> -->



<div class="container">
  <ul class="nav nav-tabs">


    <li class="nav-item">
      <a class="nav-link" routerLink="/barchart">Bar Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/doughnutchart">BARChart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/d3example">D3 Example</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pie">Circles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pie-chart">Pie Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/newcmp">Pie</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/barcmp">barcmp</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/circleaxis">Circle Axis</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="bubble-chart">Bubble Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="bubble-d3-chart">Bubble D3 Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/linechart">Linechart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/line">Line Axis</a>
    </li>
  </ul>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
   